body {
    width: 100%;
}

form {
    width: 100%;
}

canvas {
    position: static !important;
}

#container {
    margin-top: 100px;
    max-width: 100%;
    text-align: center;
}

#map {
    width: 100%;
    height: 300px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.loading-address-gif {
    width: 20px;
    height: auto;
    visibility: hidden;
}

.route-info {
    position: absolute;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 200px !important;
    height: 75px;
    padding: 15px 0;
    bottom: 10px;
    left: 10px;
    z-index: 5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    max-width: 900px;
    width: 80vw;
    min-height: 85vh;
    height: auto;
    text-align: center;

    padding-bottom: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 2px 4px 0 #0000001e, 0 3px 6px 0 #00000023;
    outline: none;
    margin: 20px auto 0 auto;
}

.search-menu > div {
    width: 100%;
}

.datetime-input,
.address-input {
    outline: 0;
    border: 0;
    color: #222;
    background: none;
    border-bottom: 1px solid #222;
    font-size: 14px;
    font-weight: 300;
    padding: 13px 20px 6px 0px;
    text-overflow: ellipsis;
    width: 200px;
    margin-bottom: 10px;
}

.datetime-input {
    width: 100px;
}

.transport-type,
.comments-input,
.phone-input,
.price-input,
.size-input {
    outline: 0;
    border: 0;
    color: #222;
    background: none;
    border-bottom: 1px solid #222;
    font-size: 14px;
    font-weight: 300;
    width: 50px;
    padding: 13px 20px 6px 0;
}

.transport-type {
    color: #7d7d7d;
}

.transport-type,
.phone-input {
    width: 140px;
}

.comments-input {
    width: 250px;
    height: 20px;
    resize: none;
}

.section-heading {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    padding-top: 20px;
    font-weight: 500;
    color: #222;
}

.sub-heading {
    font-size: 15px !important;
    text-align: center !important;
}

.input-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0;
}

.input-info > div {
    margin-top: 20px;
}

.icon-label {
    margin: 10px 10px;
    font-size: 12px;
    color: #222;
}

.search-inputs {
    text-align: center;
}

.addendum {
    font-size: 0.9em;
    color: #555555;
}

@media screen and (max-width: 767px) {
    #container {
        margin: 100px 0 0 0;
    }

    .search-menu {
        width: auto;
    }
}
