body {
    width: 100%;
}

#container {
    max-width: 100%;
    margin: 80px 10px 10px 10px;
    text-align: center;
}

.loading-address-gif {
    width: 20px;
    height: auto;
    visibility: hidden;
}

.search-menu {
    background: #f5f5f5;
    border-radius: 15px;
    border: 0;
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    box-shadow: 0 4px 8px 0 #0000001e, 0 6px 20px 0 #0000002f;
}

.datetime-input,
.address-input {
    outline: 0;
    border: 0;
    color: #222;
    background: none;
    border-bottom: 1px solid #222;
    font-size: 14px;
    font-weight: 300;
    padding: 13px 20px 6px 0px;
    text-overflow: ellipsis;
    width: 200px;
    margin-bottom: 10px;
}

.datetime-input {
    width: 100px;
}

.comments-input,
.phone-input,
.price-input,
.size-input {
    outline: 0;
    border: 0;
    color: #222;
    background: none;
    border-bottom: 1px solid #222;
    font-size: 14px;
    font-weight: 300;
    width: 50px;
}

.phone-input {
    width: 140px;
}

.comments-input {
    width: 250px;
    height: auto;
    resize: none;
}

.section-heading {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    padding-top: 20px;
    font-weight: 500;
    color: #222;
}

.sub-heading {
    font-size: 15px !important;
    text-align: center !important;
}

.input-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.input-info > div {
    margin-top: 20px;
}

.icon-label {
    margin: 10px 10px;
    font-size: 12px;
    color: #222;
}

.search-inputs {
    text-align: center;
}

.addendum {
    font-size: 0.9em;
    color: #555555;
}
