body {
    margin: 0 auto 100px auto;
    max-width: 820px;
}

@media screen and (max-width: 900px) {
    body {
        margin: 0 10%;
    }
}

h1 {
    text-align: center;
    font-weight: 500;
}

h3,
h2 {
    font-weight: 400;
}

#container {
    max-width: 100%;
    margin: 80px 10px 10px 10px;
}

.title {
    text-align: center;
}


.descript {
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(44, 108, 204);
}

h3,
h2 {
    margin-bottom: 0;
}

hr {
    margin-top: 0;
    border: none;
    height: 2px;
    background-color: #cccccc;
}


#people {
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
}

.person {
    text-align: center;
    display: inline-block;
    margin: 10px 20px;
    width: 150px;
}

.person > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
}

.info-container > div {
}

.info-container > p {
    margin: 0 20px;
}

.divider {
    height: 3px;
    width: auto;
}
