/* -------- Global Styling -------- */

html {
	font-family: "Nunito", sans-serif;
	letter-spacing: 0.2px;
	background-color: #ececec;
	height: 100%;
	width: 100%;
}

body {}

input {
	font-family: "Nunito", sans-serif;
	letter-spacing: 0.5px;
}

button {
	outline: none;
}

a {
	text-decoration: none;
	color: #f5f5f5;
	cursor: pointer;
}

input[type=number]::-moz-inner-spin-button,
input[type=number]::-moz-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
}

/* -------- Header Styles -------- */

.header {
	position: absolute;
	top: 2%;
	right: 80px;
	z-index: 5;
}

.abcRioButton {
	margin-top: 8px;
	box-shadow: none !important;
}

.abcRioButton:active {
	background: none !important;
}

.profile-btn,
.g-signin2 {
	position: absolute;
	right: 10px;
	top: 0px;
}

.profile-btn {
	text-align: center;
	border-radius: 30px;
	border: 0;
	background: #fff;
	width: 200px;
	height: 54px;
	outline: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-btn,
.home-btn {
	right: 20px;
	cursor: pointer;
	position: absolute;
	z-index: 100;
	background: #fff;
	width: 54px;
	height: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#profile-picture {
	position: absolute;
	left: 0;
	top: 0;
	width: 56px;
	height: 56px;
	border-radius: 50%;
}

.user-info {
	text-align: center;
	margin-left: 60px;
	margin-top: 15px;
	white-space: nowrap;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 50%;
	background-color: #fff;
	z-index: -1;
	width: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-top {}

.dropdown-filler {
	cursor: auto;
}

.dropdown-bottom {
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.dropdown-top:hover,
.dropdown-bottom:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* -------- Footer Styling -------- */

.copyright {
	color: hsla(219, 8%, 59%, 0.9);
	font-size: 11px;
	font-weight: 600;
}

.footer {
	color: #f5f5f5;
	text-align: center;
	background-color: #222;
	height: 5%;
	padding: 15px;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 479px) {}

@media only screen and (min-width: 500px) {}

@supports (-webkit-overfloscrolling: touch) {}