/* -------- Global Styling -------- */

html {
    font-family: "Nunito", sans-serif;
    letter-spacing: 0.3px;
    background-color: #f5fafd;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

select,
textarea,
input {
    font-family: "Nunito", sans-serif;
    letter-spacing: 0.5px;
}

textarea,
a,
img,
select,
span,
div,
button {
    font-family: "Nunito", sans-serif;
    outline: none !important;
}

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

img {
    outline: none;
    user-select: none !important;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
    color: initial;
    cursor: pointer;
}

button {
    font-family: "Nunito", sans-serif;
    background: #FFF;
    padding: 6px 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}

/* -------- Header Styles -------- */

.header {
    position: absolute;
    top: 2%;
    right: 80px;
    z-index: 5;
}

.abcRioButton {
    margin-top: 8px;
    box-shadow: none !important;
}

.abcRioButton:active {
    background: none !important;
}

.profile-btn,
.g-signin2 {
    position: absolute;
    right: 10px;
    top: 0px;
}

.profile-btn {
    text-align: center;
    border-radius: 30px;
    border: 0;
    background: #fff;
    width: 200px;
    height: 54px;
    outline: none;
    box-shadow: 0 2px 4px 0 #0000001e, 0 5px 10px 0 #0000002f;
}

.info-tooltip,
.new-btn,
.info-btn,
.home-btn {
    right: 20px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: #fff;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 #0000001e, 0 5px 10px 0 #0000002f;
}

.search-btn,
.full-label,
.play-btn,
.clear-btn,
.hosting-btn,
.approve-btn,
.deny-btn,
.member-label,
.host-label,
.host-btn,
.join-btn,
.leave-btn,
.delete-btn,
.joined-btn,
.pending-btn,
.submit-btn {
    border: 0;
    width: auto;
    height: 55px;
    outline: none;
    cursor: pointer;
}

.full-label,
.pending-btn {
    cursor: initial;
}

.clear-btn {
    width: 20px;
    height: auto;
    margin-right: 10px;
}


.info-tooltip {
    position: static;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.096), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

#profile-picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.user-info {
    text-align: center;
    margin-left: 60px;
    margin-top: 15px;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50%;
    background-color: #fff;
    z-index: -1;
    width: 200px;
    box-shadow: 0 2px 4px 0 #0000001e, 0 5px 10px 0 #0000002f;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-filler {
    cursor: auto;
}

.dropdown-bottom {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.dropdown-top:hover,
.dropdown-bottom:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* -------- Map Generic Styling -------- */

.marker {
    background-size: cover;
    cursor: pointer;
}

.start-input {
    background-image: url("../images/marker-start.png");
    width: 30px;
    height: 30px;
}

.end-input {
    background-image: url("../images/marker-end.png");
    width: 34px;
    height: 45px;
}


.loading-gif {
    width: 300px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 40%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.popup-title {
    font-size: 18px;
    font-weight: 500;
}

.popup-content {
    font-size: 13px;
    font-weight: 400;
}

.mapboxgl-popup {
    z-index: 10;
}

.mapboxgl-popup-content {
    font-family: "Nunito", sans-serif;
    color: #222;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}

.pulse {
    border-radius: 50%;
    animation: pulse 2s infinite;
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(44, 108, 204, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(44, 113, 204, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(44, 113, 204, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(44, 108, 204, 0.4);
        box-shadow: 0 0 0 0 rgba(44, 108, 204, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 20px rgba(44, 113, 204, 0);
        box-shadow: 0 0 0 20px rgba(44, 113, 204, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(44, 113, 204, 0);
        box-shadow: 0 0 0 0 rgba(44, 113, 204, 0);
    }
}

/* -------- Tooltip Styling -------- */

.tippy-tooltip.drawbridge-alt2-theme,
.tippy-tooltip.drawbridge-alt-theme,
.tippy-tooltip.drawbridge-theme {
    background-color: #fff;
    color: rgb(94, 96, 97);
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(99, 100, 100, 0.397);
}

.tippy-tooltip.drawbridge-alt2-theme {
    color: #45bc96;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(99, 100, 100, 0.397);
}

.tippy-tooltip.drawbridge-alt-theme {
    color: #3493ff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(99, 100, 100, 0.397);
}

.tippy-tooltip.drawbridge-alt2-theme[data-animatefill],
.tippy-tooltip.drawbridge-alt-theme[data-animatefill],
.tippy-tooltip.drawbridge-theme[data-animatefill] {
    background-color: transparent;
}

.tippy-tooltip.drawbridge-alt2-theme .tippy-backdrop,
.tippy-tooltip.drawbridge-alt-theme .tippy-backdrop,
.tippy-tooltip.drawbridge-theme .tippy-backdrop {
    background-color: #fff;
}

.tippy-tooltip.drawbridge-alt2-theme .tippy-roundarrow,
.tippy-tooltip.drawbridge-alt-theme .tippy-roundarrow,
.tippy-tooltip.drawbridge-theme .tippy-roundarrow {
    fill: #fff;
}


/* Modal styling */

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.98;
    z-index: 120;

    overflow: auto;
    padding-top: 150px;
    left: 0;
    top: 0;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
    background-color: #1e3458;
    color: #f5f5f5;
    padding: 4px 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-body {
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.modal-body > div {
    width: 100%;
    text-align: center;
}

.modal-content {
    position: relative;
    background-color: #ececec;
    margin: auto;
    padding: 0;
    width: 600px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
    animation-name: animate;
    animation-duration: 1.7s;
    -webkit-animation-name: animate;
    -webkit-animation-duration: 0.7s;
    border-radius: 20px;
}

#close {
    height: 30px;
    width: auto;
    position: absolute;
    top: -10px;
    cursor: pointer;
    right: -20px;
}

.welcome-img {
    width: 500px;
    height: auto;
    margin: 0 auto;
}

@keyframes animate {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.98;
    }
}

@-webkit-keyframes animate {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.98;
    }
}

@media screen and (max-width: 650px) {
    .modal-content {
        width: 300px;
    }

    .welcome-img {
        width: 250px;
    }
}

.setLocation-btn {
    width: 100px;
    color: #47A5FF;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(71, 165, 255, 0.18), 0 2px 4px 0 rgba(71, 165, 255, 0.11);
}


.progress-container {
    width: 30% !important;
    margin-top: 20px;
    background-color: #FFF;
    border-radius: 20px;
}

.progress-bar {
    width: 0;
    height: 15px;
    border-radius: 20px;
    background-color: #47A5FF;
}
