/* -------- Map Styling -------- */

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.loading-gif {
	width: 300px;
	text-align: center;
	position: absolute;
	left: 0;
	top: 40%;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.loading-address-gif {
	width: 20px;
	height: auto;
	visibility: hidden;
}

.search-menu-wrapper {
	text-align: center;
	position: absolute;
	top: 20px;
	left: 50px;
	z-index: 5;
}

.search-menu {
	width: 375px;
	height: 280px;
	background: #f5f5f5;
	border-radius: 15px;
	border: 0;
	outline: none;
	box-shadow: 0 4px 8px 0 #0000001e, 0 6px 20px 0 #0000002f;
}

.datetime-input,
.address-input {
	outline: 0;
	border: 0;
	color: #222;
	background: none;
	border-bottom: 1px solid #222;
	font-size: 14px;
	font-weight: 300;
	padding: 13px 20px 6px 0px;
	text-overflow: ellipsis;
	width: 200px;
	margin-bottom: 10px;
}

.datetime-input {
	width: 100px;
}

.section-heading {
	margin: 0;
	font-family: "Nunito", sans-serif;
	font-size: 18px;
	padding-top: 20px;
	font-weight: 500;
	color: #222;
}

.icon {
	font-size: 40px;
	margin: 15px;
	color: #222;
}

.icon-img {
	height: 15px;
	width: auto;
}

.icon-label {
	margin: 10px 10px;
	font-size: 12px;
	color: #222;
}

.icon-map-settings {
	color: #222;
}

.route-info,
.map-settings {
	cursor: pointer;
	position: absolute;
	z-index: 5;
	background: #fff;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.route-info {
	cursor: auto;
	width: 200px;
	height: 75px;
	left: 50px;
	bottom: 70px;
	padding: 15px 0px;
}

.location-setting,
.compass-setting,
.trip-setting {
	right: 10px;
}

.location-setting {
	bottom: 70px;
}

.compass-setting {
	bottom: 120px;
}

.trip-setting {
	bottom: 170px;
}

.info-setting {
	bottom: 70px;
	right: 60px;
}

.team-setting {
	bottom: 70px;
	right: 110px;
}

.search-inputs {
	text-align: center;
}

.marker {
	background-size: cover;
	cursor: pointer;
}

.start-input {
	background-image: url("../images/marker-start.png");
	width: 30px;
	height: 30px;
}

.end-input {
	background-image: url("../images/marker-end.png");
	width: 34px;
	height: 45px;
}

.popup-title {
	font-size: 18px;
	font-weight: 500;
}

.popup-content {
	font-size: 13px;
	font-weight: 400;
}

.mapboxgl-popup {
	z-index: 10;
}

.mapboxgl-popup-content {
	font-family: "Nunito", sans-serif;
	color: #222;
	border-radius: 10px;
	text-align: center;
	width: 200px;
}

.pulse {
	border-radius: 50%;
	animation: pulse 2s infinite;
}

.pulse:hover {
	animation: none;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(44, 108, 204, 0.4);
	}

	70% {
		-webkit-box-shadow: 0 0 0 20px rgba(44, 113, 204, 0);
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(44, 113, 204, 0);
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(44, 108, 204, 0.4);
		box-shadow: 0 0 0 0 rgba(44, 108, 204, 0.4);
	}

	70% {
		-moz-box-shadow: 0 0 0 20px rgba(44, 113, 204, 0);
		box-shadow: 0 0 0 20px rgba(44, 113, 204, 0);
	}

	100% {
		-moz-box-shadow: 0 0 0 0 rgba(44, 113, 204, 0);
		box-shadow: 0 0 0 0 rgba(44, 113, 204, 0);
	}
}

@media screen and (max-width: 767px) {
	.search-menu-wrapper {
		bottom: 0;
		top: auto;
		left: auto;
		right: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.route-info,
	.location-setting,
	.compass-setting,
	.trip-setting,
	.team-setting,
	.info-setting {
		bottom: 300px;
	}

	.route-info {
		left: 10px;
	}

	.location-setting {
		right: 10px;
	}

	.compass-setting {
		right: 70px;
	}

	.trip-setting {
		right: 130px;
	}

	.info-setting {
		right: 190px;
	}

	.team-setting {
		right: 250px;
	}

	.search-menu {
		width: 100vw;
		overflow: scroll;
		max-height: 50vh;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	#map {
		height: 70%;
	}
}

@media screen and (min-width: 767px) and (max-height: 600px) {
	.search-menu-wrapper {
		bottom: 0;
		top: auto;
		left: auto;
		right: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.route-info {
		bottom: 10px;
		left: 80px;
	}

	.location-setting {
		bottom: 10px;
	}

	.compass-setting {
		bottom: 60px;
	}

	.trip-setting {
		bottom: 110px;
	}

	.info-setting {
		bottom: 160px;
		right: 10px;
	}

	.team-setting {
		bottom: 210px;
		right: 10px;
	}

	.search-menu {
		height: 100vh;
		overflow: auto;
		max-width: 50vw;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	#map {
		right: 0;
		width: 80%;
	}
}

@media screen and (max-width: 570px) {

	.location-setting,
	.compass-setting,
	.trip-setting,
	.info-setting,
	.team-setting {
		right: 10px;
	}

	.location-setting {
		bottom: 300px;
	}

	.compass-setting {
		bottom: 350px;
	}

	.trip-setting {
		bottom: 400px;
	}

	.info-setting {
		bottom: 450px;
	}

	.team-setting {
		bottom: 500px;
	}

}

@media screen and (min-width: 767px) and (max-height: 370px) {
	.route-info {
		bottom: 10px;
		left: 390px;
	}
}

@media screen and (max-width: 767px) and (max-height: 450px) {

	.route-info,
	.map-settings {
		display: none;
	}
}

@media screen and (max-width: 767px) and (max-height: 645px) {

	.location-setting,
	.compass-setting,
	.trip-setting {
		display: none;
	}

	.info-setting {
		bottom: 300px;
		right: 10px;
	}

	.team-setting {
		bottom: 350px;
		right: 10px;
	}
}

@media screen and (min-width: 767px) and (max-height: 360px) {

	.location-setting,
	.compass-setting,
	.trip-setting {
		display: none;
	}

	.info-setting {
		bottom: 10px;
		right: 10px;
	}

	.team-setting {
		bottom: 60px;
		right: 10px;
	}

}