.trip-info-wrapper {
	margin-top: 80px;
	text-align: center;
}

.trip-info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.results-container {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	/* background: url("../images/map-background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
}

.results-content {
	background: #fff;
	max-width: 900px;
	width: 80vw;
	min-height: 80vh;
	height: auto;

	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 20px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result,
.thresholds {
	background: #fff;
	height: auto;
	padding: 10px;

	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;

	margin-left: 10px;
	margin-right: 10px;
	border-radius: 15px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.096), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.result {
	margin-top: 20px;
	justify-content: space-evenly;
	padding: 30px;
}

.result-info {
	text-align: center;
	width: 350px;
}

.icon-label-medium {
	color: #1e3458;
	font-size: 12px;
}

.icon-label-small {
	color: #1e3458;
	font-size: 10px;
	margin-left: 10px;
}

.joined-btn,
.pending-btn {
	cursor: auto;
}

.threshold-input {
	outline: 0;
	border: 0;
	color: #1e3458;
	background: none;
	border-bottom: 1px solid #1e3458;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	width: 80px;
}

@media screen and (max-width: 750px) {
	.results-content {
		width: 100vw;
	}
}