.trip-info-wrapper {
    margin-top: 80px;
    text-align: center;
    color: #222;
}

.trip-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trip-info-text {
    font-size: 25px;
    margin-left: 5px;
}

.sub-heading {
    font-size: 18px !important;
    text-align: center !important;
}

.results-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.results-content {
    background: #fff;
    max-width: 900px;
    width: 80vw;
    min-height: 80vh;
    height: auto;
    text-align: center;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px 20px;
    box-shadow: 0 2px 4px 0 #0000001e, 0 3px 6px 0 #00000023;
}

.thresholds {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.thresholds > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.thresholds > div > span {
    margin-bottom: 10px;
}

.thresholds > div > div {
    display: flex;
}

.empty-results {
    margin: 20px;
}

.empty-results > img {
    width: 350px;
    height: auto;
}

.result {
    background: #fff;
    height: auto;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin: 30px 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 #0000001e, 0 3px 6px 0 #00000023;
}

.result-trips {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.result-info {
    width: 250px;
    margin: 15px;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #FFF;
    box-shadow: 0 1px 2px 0 #0000001e, 0 2px 4px 0 #00000023;
}

.result-info > div {
    font-size: 13px;
    margin-bottom: 2px;
}

.icon-label-large {
    color: #47A5FF;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.icon-label-medium {
    color: #222;
    font-size: 12px;
}

.icon-label-small {
    color: #222;
    font-size: 10px;
    margin-left: 10px;
}

.hosting-btn,
.joined-btn,
.pending-btn {
    cursor: auto;
}

.threshold-input {
    outline: 0;
    border: 0;
    color: #222;
    background: none;
    border-bottom: 1px solid #222;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    width: 80px;
}

@media screen and (max-width: 800px) {
    .results-content {
        width: 100vw;
    }
}

@media screen and (max-width: 640px) {
    .result-trips {
        justify-content: space-evenly;
    }
}


@media screen and (max-width: 950px) {
    .result {
        justify-content: center;
    }
}
