body {
    width: 100%;
}

#container {
    display: grid;
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 70px;
}

#title {
    grid-column: span 2;
    font-weight: 500;
    justify-self: center;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    align-items: center;
}

#trips-picture {
    position: static;
    margin-right: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@media screen and (max-width: 1030px) {
    #title {
        margin-top: 80px;
    }
}