body {
    width: 100%;
}

#container {
    max-width: 100%;
    margin: 80px 10px 10px 10px;
}

#title {
    font-weight: 500;
    font-size: 25px;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#trips-picture {
    position: static;
    margin-right: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#my-trips-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.trip-group {
    margin-top: 10px;
    margin-right: 20px;
}

.results-content {
    background: none;
    padding: 0;
    box-shadow: none;
    display: flex;
    min-height: auto;
    margin-bottom: 70px;
}

.sub-heading-left {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}

.result {
    width: 250px;
    height: 120px;
    margin: 0;
}

.result.sub {
    position: absolute;
}

.result.main {
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform box-shadow 0.3s ease-in-out;
    z-index: 10;
}

.result.main:hover {
    cursor: pointer;
    transform: translate3d(0px, -6px, 0px);
    box-shadow: 0 6px 6px 0 #0000001e, 0 3px 8px 0 #00000023;
}

@media screen and (max-width: 1030px) {
    #title {
        margin-top: 80px;
    }
}